name: Release

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # gets git history for changelogs

      - name: Create Classic Package
        uses: BigWigsMods/packager@v2
        with:
          args: -g classic -p 18988

      - name: Create BCClassic Package
        uses: BigWigsMods/packager@v2
        with:
          args: -g bcc -p 18988

      - name: Create WrathClassic Package
        uses: BigWigsMods/packager@v2
        with:
          args: -g wrath -p 18988
